<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (record of storeService.history; track record.uuid) {
    <ion-card>
      <ion-card-content>
        <strong>Original:</strong> {{ record.originalText }}<br />
        <strong>Translated:</strong> {{ record.translatedText }}<br />
        <small>{{ record.timestamp | date:'HH:mm' }}</small>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
